<section class="footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2><i class="ion-iphone"></i> 28 97 76 44 </h2>
        <ul>
          <li><a href="https://www.facebook.com/kirurgiskklinik?fref=ts"><i class="ion-social-facebook"></i></a></li>
        </ul>
        <h4>Følg os på sociale medier</h4>
      </div>
    </div>
  </div>
</section>


<footer>
  <div class="container wow fadeInUp" data-wow-delay="0.2s">
    <div class="row margien">
      <div class="col-xs-2"> <img src="images/logo-white.png" alt="Image" class="pull-left">
        <p class="copyright">Copyright © 2015<br/>
        <a href="http://www.gundmann.dk">Gundmann Consulting</a></p>
      </div>
      <div class="col-xs-2">
        <h4>Navigering</h4>
        <kik-navigation-links></kik-navigation-links>
      </div>
      <div class="col-xs-2">
        <h4>Vores behandlinger</h4>
        <ul>
          <li><a href="TreatmentsPage.html#gastroskopi">Gastroskopi</a></li>
          <li><a href="TreatmentsPage.html#koloskopi">Koloskopi</a></li>
          <li><a href="TreatmentsPage.html#sigmoideoskopi">Sigmoideoskopi</a></li>
          <li><a href="TreatmentsPage.html#mft">Modermærker, fedtknuder og talgkirtler</a></li>
          <li><a href="TreatmentsPage.html#haemorroider">Hæmorroider</a></li>
          <li><a href="TreatmentsPage.html#hudfolder">Hudfolder ved endetarmen</a></li>
          <li><a href="TreatmentsPage.html#navlebrok">Navlebrok</a></li>
          <li><a href="TreatmentsPage.html#lyskebrok">Lyskebrok</a></li>
        </ul>
      </div>
      <div class="col-xs-2">
        <h4>Sociale medier</h4>
        <ul>
          <li><a href="https://www.facebook.com/kirurgiskklinik?fref=ts">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>