<section class="inner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Kirurg</h1>
      </div>
    </div>
  </div>
</section>
<!-- end inner header -->
<section class="inner-content">
  <div class="container">
    <h1 class="title-bottom-line">
      <strong>KENNETH </strong> HØJSGAARD JENSEN
    </h1>
    <img alt="Kenneth" src="images/kenneth.jpg" />

    <div class="panel-group faq" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading actives">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Curriculum Vitae</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <table>
              <tr>
                <td>Videreuddannelse i lever kirurgi RH</td>
                <td>2015</td>
              </tr>
              <tr>
                <td>Certificeret kolorektal kirurg</td>
                <td>2013</td>
              </tr>
              <tr>
                <td>Speciallæge i kirurgi</td>
                <td>2009</td>
              </tr>
              <tr>
                <td>Cand. Med. Københavns Universitet</td>
                <td>2002</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Primær forskning emner</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <table>
              <tr>
                <td>Tyk- og endetarms kræft</td>
              </tr>
              <tr>
                <td>Lever kræft</td>
              </tr>
              <tr>
                <td>Hormonproducerende kræft</td>
              </tr>
              <tr>
                <td>Anallidelser efter endetarmskirurgi</td>
              </tr>
              <tr>
                <td>Akut kirurgi</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Ansættelser</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <table>
              <tr>
                <td>Kirurgisk afdeling Rigshospitalet</td>
                <td>2014-2015</td>
              </tr>
              <tr>
                <td>Kirurgisk afdeling Slagelse</td>
                <td>2009-2013</td>
              </tr>
              <tr>
                <td>Kirurgisk afdeling Malmø</td>
                <td>2007-2009</td>
              </tr>
              <tr>
                <td>Kirurgisk afdeling Rigshospitalet</td>
                <td>2003-2006</td>
              </tr>
              <tr>
                <td>Kirurgisk afdeling Sunderland England</td>
                <td>2002-2003</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>