<section class="inner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Behandlinger</h1>
      </div>
    </div>
  </div>
</section>

<section class="inner-content news-list">
	<div class="container">
 		<div class="row">
 		     <div class="col-xs-4">
      			<iframe width="360" height="255" src="https://www.youtube.com/embed/7Mamuj7N7AE" frameborder="0" allowfullscreen></iframe>
      		</div>
       		<div class="col-xs-8">
       			<h3 id="gastroskopi">THD (Transanal Hæmoride Dearterialisation)</h3>
       			<p>Operation for hæmorider med THD (Transanal Hæmoride Dearterialisation) er den nyeste form for behandling af hæmorider. Metoden er et minimalt indgreb, som fjerner hæmoriderne ved brug af nål og tråd og ikke efterlader sårdannelse. Ved operationen anvendes ultralyd med dobler til lokalisere de indvendige blodkar, der forsyner hæmoriderne med blod. Tråden sættes således at de største kar afsnøres, hvorved blodgennemstrømningen i hæmoriderne nedsættes. Herefter vil hæmoriden gradvis skrumpe og symptomer aftage.</p>
       			<a href="pdfs/THD.pdf" target="_blank" class="btn-turquaz-md">Patientvejledning</a>
       		</div>
       		<div class="col-xs-12">
       			<hr>
       		</div>
 		
      		<div class="col-xs-4">
      			<iframe width="360" height="255" src="https://www.youtube.com/embed/Hj8CULUjbjo" frameborder="0" allowfullscreen></iframe>
      		</div>
       		<div class="col-xs-8">
       			<h3 id="gastroskopi">Kikkertundersøgelse af mavesækken (gastroskopi)</h3>
       			<p>Gastroskopi er en kikkertundersøgelse af slimhinderne i spiserøret, mavesækken og tolvfingertarmen. Undersøgelsen kan afsløre forandringer som f.eks. betændelse eller sår. Samtidig kan der smertefrit tages små vævsprøver (biopsier) til nærmere undersøgelser under mikroskop samt eventuelt dyrkning af bakterier. Mavesårsbakterier undersøges i klinikken og du vil da skulle vente i løbet af dagen. Ved positiv svar kan vi kontakte dig pr telefon.</p>
       			<a href="pdfs/Gastroskopi.pdf" target="_blank" class="btn-turquaz-md">Patientvejledning</a>
       		</div>
       		<div class="col-xs-12">
       			<hr>
       		</div>

       		<div class="col-xs-4"> 
       			<iframe width="360" height="255" src="https://www.youtube.com/embed/W7aWja5ACYM" frameborder="0" allowfullscreen></iframe>
       		</div>
			<div class="col-xs-8">
        		<h3 id="koloskopi">Kikkertundersøgelse af hele tyktarmen (koloskopi)</h3>
       			<p>Koloskopi er en kikkertundersøgelse af endetarmen og tyktarmen. Undersøgelsen kan afsløre forandringer som f.eks. polypper, udposninger (divertikler), autoimmune betændelse (f.eks. crohn, ulcerøs colitis) eller kræft. Samtidig kan der smertefrit tages små vævsprøver (biopsier) til nærmere undersøgelser under mikroskop samt eventuelt fjernelse af polyp(per). Svar kan gives via e.l., pr telefon eller ved ny konsultation.</p>
       			<a href="pdfs/Koloskopi.pdf" target="_blank" class="btn-turquaz-md">Patientvejledning</a>
       		</div>
       		<div class="col-xs-12">
       			<hr>
       		</div>

       		<div class="col-xs-4"> 
       			<img src="images/bag.jpg" alt="Image"/>
       		</div>
			<div class="col-xs-8">
        		<h3 id="sigmoideoskopi">Kikkertundersøgelse af nederste del af tyktarmen (Sigmoideoskopi)</h3>
       			<p>Sigmoideoskopi er en kikkertundersøgelse af endetarmen og venstre halvdel af tyktarmen.</p>
       			<a href="pdfs/Sigmoideoskopi.pdf" target="_blank" class="btn-turquaz-md">Patientvejledning</a>
       		</div>
       		<div class="col-xs-12">
       			<hr>
       		</div>

       		<div class="col-xs-4"> 
       			<img src="images/scissors.jpg" alt="Image"/>
       		</div>
			<div class="col-xs-8">
        		<h3 id="mft">Modermærker, fedtknuder og talgkirtler</h3>
       			<b>Modermærker</b>
				<p>Modermærker eller vorter er i lang de flest tilfælde fredelige. Men i sjældne tilfælde kan det være kræft. Primær behandling er fjernelse og derefter diagnose hos patologerne. Hvis det skønnes at der er risiko for kræft vil modermærket blive sendt til patologerne for hurtigt svar.</p>
       			<b>Fedtknuder</b>
				<p>Fedtknuder er godartede forandringer i huden bestående af fedtvæv omgivet af en meget tynd kapsel. De ligger normalt i underhuden omgivet af almindeligt underhudsfedt, men de kan også sidde fast på eller ligge inde mellem musklerne.</p>
				<b>Talgkirtler</b>
				<p>Talgkirtler er en godarte forandring i huden som opstår fra kirtler omkring hårsække. Disse kan undertiden give anledning til betændelse. Diagnosen kan stilles ved operationen.</p>
       			<a href="pdfs/ModermaerkerFedtknuderTalgkirtler.pdf" target="_blank" class="btn-turquaz-md">Patientvejledning</a>
       		</div>
       		<div class="col-xs-12">
       			<hr>
       		</div>
       		
       		<div class="col-xs-4"> 
       			<img src="images/box.jpg" alt="Image"/>
       		</div>
			<div class="col-xs-8">
        		<h3 id="haemorroider">Hæmorroider</h3>
       			<p>Hæmorroider er udvidelser af vener (åreknuder) i endetarmsåbningen. Deres årsag kendes ikke. I de lettere tilfælde sidder hæmorroiderne overvejende inden for tarmåbningen, og behandlingen kan foregå ambulant og uden bedøvelse med elastikbehandling.</p>
       			<a href="pdfs/Haermorroider.pdf" target="_blank" class="btn-turquaz-md">Patientvejledning</a>
       		</div>
       		<div class="col-xs-12">
       			<hr>
       		</div>
       		
       		<div class="col-xs-4"> 
       			<img src="images/bagOpen.jpg" alt="Image"/>
       		</div>
			<div class="col-xs-8">
        		<h3 id="hudfoler">Hudfolder ved endetarmen</h3>
       			<p>Hudfolder ved endetarmen (marisker) er løs hud lige udenfor endetarmsåbningen. Den løse hud er resterne af en tidligere hæmorroide. De kan variere i størrelse og være til gene f.eks i forbindelse med hygiejne.</p>
       			<a href="pdfs/Marisker.pdf" target="_blank" class="btn-turquaz-md">Patientvejledning</a>
       		</div>
       		<div class="col-xs-12">
       			<hr>
       		</div>

       		<div class="col-xs-4"> 
       			<img src="images/scissors.jpg" alt="Image"/>
       		</div>
			<div class="col-xs-8">
        		<h3 id="navlebrok">Navlebrok</h3>
       			<p>Ved et Navlebrok trænger bughinden og måske en del af tarmen sig igennem et svagt område af bugvæggen. Navlebrok opstår som følge af en svaghed efter navlesnoren i fostertilværelsen.</p>
       			<a href="pdfs/Navlebrok.pdf" target="_blank" class="btn-turquaz-md">Patientvejledning</a>
       		</div>
       		<div class="col-xs-12">
       			<hr>
       		</div>
       		
       		<div class="col-xs-4"> 
       			<img src="images/box.jpg" alt="Image"/>
       		</div>
			<div class="col-xs-8">
        		<h3 id="lyskebrok">Lyskebrok</h3>
       			<p>Ved et lyskebrok trænger bughinden og en del af tarmen sig igennem et svagt område af bugvæggen. Lyskebrok kan hos begge køn vise sig i lysken eller øverst på låret, desuden i pungen hos mænd og i skamlæben hos kvinder. I de fleste tilfælde giver et lille brok kun få gener, mens et større brok kan give ubehag og smerter, især ved hoste og fysisk arbejde. Som regel er det muligt at trykke et mindre brok på plads, men med tiden vil de fleste brok vokse og kan så ikke længere trykkes på plads. Risikoen ved et brok er, at en mindre del af tarmen kan afklemmes i en snæver brokkanal, således at der opstår et indeklemt brok med stop i tarmen (tarmslyng). Dette er en sjælden, men alvorlig tilstand, som kræver akut operation.</p>
       			<a href="pdfs/Lyskebrok.pdf" target="_blank" class="btn-turquaz-md">Patientvejledning</a>
       		</div>
       		<div class="col-xs-12">
       			<hr>
       		</div>
       </div>
    </div>
</section>
