<nav class="navbar navbar-default navbar-header fullWidth" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a wicket:id="homeImageLink">
          <img src="images/logo.png" alt="Image">
        </a>
        <ul class="social-media">
          <li>
            <a href="https://www.facebook.com/kirurgiskklinik?fref=ts">
              <i class="ion-social-facebook"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a routerLink="/home">Hjem</a></li>
          <li><a routerLink="/treatments">Behandlinger</a></li>
          <li><a routerLink="priceList">Prisliste</a></li>
          <li><a routerLink="surgeon">Kirurg</a></li>
          <li><a routerLink="safety">Sikkerhed</a></li>
          <li><a routerLink="contact">kontakt</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div style="display: none;" version=""></div>