<div class="col-xs-8">
  <div class="left-side">
    <h1 class="title-bottom-line">
      <strong>KONTAKT</strong> FORMULAR
    </h1>
    <form id="contact-form" wicket:id="contact">
      <input type="text" name="name" id="name" placeholder="Fornavn" wicket:id="firstName" />
      <input type="text" name="surname" id="surname" placeholder="Efternavn" wicket:id="surname" />
      <input type="text" name="phone" id="phone" placeholder="Telefon" wicket:id="phone" />
      <input type="email" name="email" id="email" placeholder="E-mail" wicket:id="email" />
      <input type="text" name="subject" id="subject" placeholder="Årsag" class="subject" wicket:id="subject" />
      <textarea name="message" id="message" placeholder="Besked" wicket:id="message"></textarea>
      <input type="button" name="submit" value="SEND" wicket:id="send">
    </form>
  </div>
</div>