<section class="slider">
  <div class="demo-2">
    <div id="slider" class="sl-slider-wrapper">
      <div class="sl-slider">
        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2"
          data-slice2-scale="2">
          <div class="sl-slide-inner">
            <div class="bg-img bg-img-1"></div>
            <div class="content">
              <h2>
                God tid til patienten
                <br/> Fra dag til dag service
              </h2>
              <img src="images/pulse.png" alt="Image" />
              <br>
              <a routLink="TeaserPage.html" href="#" class="btn-turquaz-lg">LÆS MERE</a>
            </div>
            <!-- end content -->
          </div>
          <!-- end sl-slide-inner -->
        </div>
        <!-- end sl-slide -->
        <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5"
          data-slice2-scale="1.5">
          <div class="sl-slide-inner">
            <div class="bg-img bg-img-2"></div>
            <div class="content">
              <h2>
                Stor faglighed
                <br> Vægt på omsorg
              </h2>
              <img src="images/pulse.png" alt="Image">
              <br>
              <a href="#" class="btn-turquaz-lg">LÆS MERE</a>
            </div>
            <!-- end content -->
          </div>
          <!-- end sl-slide-inner -->
        </div>
        <!-- end sl-slide -->
      </div>
      <!-- sl-slider -->

    </div>
    <!-- end sl-slider-wrapper -->
  </div>
  <!-- end demo2 -->
</section>
<!-- end slider -->
<kik-appointment></kik-appointment>
<section class="box-content wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 no-padding">
        <div class="first-box">
          <div class="icon">
            <img src="images/icon1.png" alt="Icon">
          </div>
          <div class="content">
            <h3>SIKRINGSGRUPPE 2</h3>
            <p>Du får samme tilskud, som en gruppe 1-sikret patient får til en tilsvarende behandling. Læger, speciallæger,
              tandlæger, tandplejere og fysioterapeuter fastsætter selv prisen for behandling. Hvis prisen på behandling
              overstiger tilskuddet fra regionen, skal du selv betale forskellen, når du er i sikringsgruppe 2.</p>
            <p>Nogle steder bliver tilskuddet trukket fra regningen, og du skal selv betale resten af lægens honorar. Hos os
              betaler du hele regningen, og du kan derefter få tilskuddet refunderet hos kommunen.</p>
            <!-- end content -->
          </div>
          <!-- end first-box -->
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-xs-4 no-padding">
        <div class="second-box">
          <div class="icon">
            <img src="images/icon2.png" alt="Icon">
          </div>
          <div class="content">
            <h3>FORSIKRINGSKUNDER</h3>
            <p>Man kan få tilskud til behandling i klinikken, hvis man har en sundhedsforsikring. Det kan være en fordel at
              tage kontakt til forsikringselskabet inden behandlingen for at høre nærmere.</p>
            <a href="http://www.sygeforsikring.dk/" class="btn-ghost-md" target="_blank">LÆS MERER</a>
          </div>
          <!-- end content -->
        </div>
        <!-- end second-box -->
      </div>
      <!-- end col-4 -->
      <div class="col-xs-4 no-padding">
        <div class="third-box">
          <div class="icon">
            <img src="images/icon3.png" alt="Icon">
          </div>
          <div class="content">
            <h3>EGEN BETALER</h3>
            <p>Her kan man frit bestemme hvilken behandling man vil have, men hele regningen står man selv for.</p>
            <!-- end content -->
          </div>
          <!-- end third-box -->
        </div>
        <!-- end col-4 -->
      </div>
      <!-- end row -->

      <!-- end container -->
    </div>
  </div>
</section>