<section class="inner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Prisliste</h1>
      </div>
    </div>
  </div>
</section>
<!-- end inner header -->
<section class="inner-content">
  <div class="container">
    <h1 class="title-bottom-line">
      <strong>PRISLISTE</strong> KIRURGISK KLINIK HØJSGAARD</h1>
    <p>Kontakt os per mail og skriv hvorfor du kontakter os og en mulig tid vi kan ringe tilbage til dig på. Vi vil herefter
      ringe dig op (denne service er gratis) og sammen vil vi så gennemgå din henvendelse og planlægge hvilke behandlinger
      eller undersøgelser der kan blive nødvendige for dig. Betaling foregår til Danske Bank, reg. nr. 0265 konto nr. 4083432845
      eller kontant. Alle priser på hjemmesiden er vejledende. Der er et gebyr på 6% til dækning af den lovpligtige patientforsikring.</p>
    <br>
    <br>

    <div class="panel-group faq">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Konsultationer</h4>
        </div>
        <div class="panel-collapse collapse in">
          <div class="panel-body">
            <table>
              <tr>
                <td>Første konsultation</td>
                <td>1.095,- kr.</td>
              </tr>
              <tr>
                <td>Anden konsultation</td>
                <td>850,- kr.</td>
              </tr>
              <tr>
                <td>Kontrol</td>
                <td>650,- kr.</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-group faq">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Undersøgelser / operationer</h4>
        </div>
        <div class="panel-collapse collapse in">
          <div class="panel-body">
            <table>
              <tr>
                <td>THD (Transanal Hæmoride Dearterialisation)</td>
                <td>7.500,- kr.</td>
              </tr>
              <tr>
                <td>Kikkertundersøgelse af mavesækken (gastroskopi)</td>
                <td>3.200,- kr.</td>
              </tr>
              <tr>
                <td>Kikkertundersøgelse af hele tyktarmen (koloskopi)</td>
                <td>5.400,- kr.</td>
              </tr>
              <tr>
                <td>Kikkertundersøgelse af nederste del af tyktarmen (sigm.skopi)</td>
                <td>3.800,- kr.</td>
              </tr>
              <tr>
                <td>Kikkertundersøgelse af endetarmen (rektoskopi eller anoskopi)</td>
                <td>1.800,- kr.</td>
              </tr>
              <tr>
                <td>Polyp fjernelse under skopien</td>
                <td>900,- kr.</td>
              </tr>
              <tr>
                <td>Lyskebrok operation i lokal bedøvelse</td>
                <td>9.500,- kr.</td>
              </tr>
              <tr>
                <td>Navlebrok operation i lokal bedøvelse</td>
                <td>9.100,- kr.</td>
              </tr>
              <tr>
                <td>Fjernelse af hudfolder ved endetarmen (marisker)</td>
                <td>4.300,- kr.</td>
              </tr>
              <tr>
                <td>Elastikbehandling af hæmorider</td>
                <td>1.850,- kr.</td>
              </tr>
              <tr>
                <td>Fjernelse af modermærker, fedtknuder og talgkirtler</td>
                <td>2.500,- kr.</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>